.friend-list {
    height: 400px;
    width: 300px;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    .friendrequest {
        padding: 8px 6px;
        margin: 5px 0px;
        border-bottom: 1px solid #36393f;

        p {
            margin: 0;
        }

        .request-username{
            font-weight: bold;
        }
    }
    .friend-list-item-pending > a, .friend-list-item-accepted > h3 {
        font-size: 18px;
        font-weight: bold;
    }
    .friend-list-item-accepted > h3{
        padding: 8px 0px;
        margin: 5px 0px;
        border-bottom: 1px solid #36393f;
    }
}